<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pickup</title>
    <!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
    <link rel="stylesheet" href="../css/rent_form.css">
    <link rel="stylesheet" href="../css/rent_popup.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="../css/signup_popup.css">
    <link rel="stylesheet" href="../css/timeline.css">
    <link rel="stylesheet" href="../css/coming_soon.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div class="scroll-up-btn">
      <i class="fa fa-angle-up"></i>
  </div>
  <nav class="navbar">
      <div class="max-width">
          <div class="logo"><a href="#">Pick<span>Up.</span></a></div>
          <ul class="menu">
              <li><a href="#home" class="menu-btn">Discover vehicles</a></li>
              <li><a href="#" class="menu-btn  view-modal">Rent a vehicle</a></li>
              <li><a href="#" class="menu-btn   view-modal_lease">Lease a Vehicle</a></li>
          </ul>
          <div class="menu-btn">
              <i class="fa fa-bars"></i>
          </div>
      </div>
  </nav>

  <!-- home section start -->
  <section class="home" id="home">
      <div class="max-width">
          <div class="home-content">
              <div class="text-2">Rent the best vehicle</div>
              <div class="text-1">for the best price and get the best deal</div>
              <!-- <div class="text-3"></div> -->
              <a href="#">Sign up</a>
          </div>
      </div>
  </section>


  <p class="heading__">Products</p>
  <div class="discover_text">

  </div>
  <div class="display">
    <div class="wrapperrr">
      <div class="right">
        <div class="logo">Cheverolet express</div>
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="about">
          <p>The Chevrolet Express (also known as the GMC Savana) is a range of full-size vans from General Motors.</p>
        </div>
        <button class="show-btn">
          <h2>Rent Now</h2>
          <h2>	&#8358;20,000/day</h2>
        </button>
      </div>
      <div class="left  image1">
        <ul>
          <li>	Full-size van</li>
           <li>2-door cutaway van chassis </br>
            4-door cargo van</br>
            4-door passenger van</br>
            5-door cargo van</br>
            5-door passenger van</li>
           <li>	Front engine, rear wheel drive
            all-wheel drive (2003–2014)</li>
           <li>4.3L Vortec 4300/L35 V6 (1996–2002)</li>
           <!-- <li>Loudspeaker	Yes, with stereo speakers</li>
           <li>USB	Lightning, USB 2.0</li> -->
        </ul>
      </div>
    </div>


    <div class="wrapperrr">
      <div class="right">
        <div class="logo">Lexus Rx 350</div>
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="about">
          <p>The Lexus RX  is a mid-size luxury crossover SUV sold since 1998 by Lexus, a luxury division of Toyota.</p>
        </div>
        <button class="show-btn">
          <h2>Rent Now</h2>
          <h2>	&#8358;60,000/day</h2>
        </button>
      </div>
      <div class="left  image2">
        <ul>
          <li>	Lexus (Toyota)</li>
           <li>	
            Compact luxury crossover SUV (1998–2003)</br>
            Mid-size luxury crossover SUV (2003–present)</li>
           <li>GPU	Apple GPU (4-core graphics)</li>
           <li>	5-door SUV</li>
           <li>	
            Front-engine, front-wheel drive</br>
            Front-engine, four-wheel drive</li>
        </ul>
      </div>
    </div>

  </div>


  <div class="display">
    <div class="wrapperrr">
      <div class="right">
        <div class="logo">Toyota sienna</div>
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="about">
          <p>The Toyota Sienna is a minivan manufactured and marketed by Toyota, suitable for family use</p>
        </div>
        <button class="show-btn">
          <h2>Rent Now</h2>
          <h2>	&#8358;40,000/day</h2>
        </button>
      </div>
      <div class="left  image3">
        <ul>
          <li>Chipset Apple A14 Bionic (5 nm)</li>
           <li>CPU	Hexa-core</li>
           <li>GPU	Apple GPU (4-core graphics)</li>
           <li>Dual	12 MP, f/2.2, 23mm (wide), 1/3.6"</li>
           <li>Loudspeaker	Yes, with stereo speakers</li>
           <li>USB	Lightning, USB 2.0</li>
        </ul>
      </div>
    </div>


    <div class="wrapperrr">
      <div class="right">
        <div class="logo">Ford F-250</div>
        <div class="stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="about">
          <p>The Ford F-Series is a series of trucks manufactured and marketed by Ford since the 1948 model year. </p>
        </div>
        <button class="show-btn">
          <h2>Rent Now</h2>
          <h2>	&#8358;65,000/day</h2>
        </button>
      </div>
      <div class="left image4">
        <ul>
          <li>Chipset Apple A14 Bionic (5 nm)</li>
           <li>CPU	Hexa-core</li>
           <li>GPU	Apple GPU (4-core graphics)</li>
           <li>Dual	12 MP, f/2.2, 23mm (wide), 1/3.6"</li>
           <li>Loudspeaker	Yes, with stereo speakers</li>
           <li>USB	Lightning, USB 2.0</li>
        </ul>
      </div>
    </div>

  </div>

  
  <!--Why pickup-->
    <div class="wrapper">
      <h1>Why PickUp?</h1>
      <div class="center-line">
        <a href="#" class="scroll-icon"><i class="fa fa-caret-up"></i></a>
      </div>
      <div class="row row-1">
        <section>
          <i class="icon fa fa-home"></i>
          <div class="details">
            <span class="title">Title of Section 1</span>
          </div>
          <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
          <div class="bottom">
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fa fa-star"></i>
          <div class="details">
            <span class="title">Title of Section 2</span>
            <span>2nd Jan 2021</span>
          </div>
          <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
          <div class="bottom">
          </div>
        </section>
      </div>
      <div class="row row-1">
        <section>
          <i class="icon fa fa-rocket"></i>
          <div class="details">
            <span class="title">Title of Section 3</span>
            <span>3rd Jan 2021</span>
          </div>
          <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
          <div class="bottom">
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fa fa-globe"></i>
          <div class="details">
            <span class="title">Title of Section 4</span>
            <span>4th Jan 2021</span>
          </div>
          <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
          <div class="bottom">
          </div>
        </section>
      </div>
      <!-- <div class="row row-1">
        <section>
          <i class="icon fa fa-paper-plane"></i>
          <div class="details">
            <span class="title">Title of Section 5</span>
            <span>5th Jan 2021</span>
          </div>
          <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
          <div class="bottom">
          </div>
        </section>
      </div>
      <div class="row row-2">
        <section>
          <i class="icon fa fa-map-marker-alt"></i>
          <div class="details">
            <span class="title">Title of Section 6</span>
            <span>6th Jan 2021</span>
          </div>
          <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
          <div class="bottom">
          </div>
        </section>
      </div> -->
    </div>

    <!-- vehicles -->
    
    <section class="services" id="services">
      <div class="max-width">
          <h2 class="title">Our services</h2>
          <div class="serv-content">
              <div class="card">
                  <div class="box">
                      <i class="fa fa-paint-brush"></i>
                      <div class="text">Home Cleanup</div>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
                  </div>
              </div>
              <div class="card">
                <div class="box">
                    <i class="fa fa-money"></i>
                    <div class="text">Home Cleanup</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
                </div>
            </div>
              <div class="card">
                  <div class="box">
                      <i class="fa fa-code"></i>
                      <div class="text">Recycling</div>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
                  </div>
              </div>
             </div>
          </div>
      </div>
  </section>

       
    <!--FREQUENTLY ASKED QUESTION-->
    <div class="wrapper">
      <!-- Accordion Heading One -->
      <div class="">
        <h2>Frequently Asked Questions</h2>
      </div>
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-1" checked>
        <label for="tab-1">
          <span>Accordion Heading One</span>
          <div class="icon"><i class="fa fa-plus"></i></div>
        </label>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit. Quam, repellendus facere, id porro magnam blanditiiss quoteos dolores ratione quidem ipsam esse quos pariatur, repellat obcaecati!</p>
        </div>
      </div>
      <!-- Accordion Heading Two -->
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-2">
        <label for="tab-2">
          <span>Accordion Heading Two</span>
          <div class="icon"><i class="fa fa-plus"></i></div>
        </label>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit. Quam, repellendus facere, id porro magnam blanditiiss quoteos dolores ratione quidem ipsam esse quos pariatur, repellat obcaecati!</p>
        </div>
      </div>
      <!-- Accordion Heading Three -->
      <div class="parent-tab tab-3">
        <input type="radio" name="tab" id="tab-3">
        <label for="tab-3" class="tab-3">
          <span>Accordion Heading Three</span>
          <div class="icon"><i class="fa fa-plus"></i></div>
        </label>
        <div class="content">
          <!-- Sub Heading One -->
          <div class="child-tab">
            <input type="checkbox" name="sub-tab" id="tab-4">
            <label for="tab-4">
              <span>Sub Heading One</span>
              <div class="icon"><i class="fa fa-plus"></i></div>
            </label>
            <div class="sub-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
            </div>
          </div>
          <!-- Sub Heading Two -->
          <div class="child-tab">
            <input type="checkbox" name="sub-tab" id="tab-5">
            <label for="tab-5">
              <span>Sub Heading Two</span>
              <div class="icon"><i class="fa fa-plus"></i></div>
            </label>
            <div class="sub-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion Heading Four -->
      <div class="parent-tab">
        <input type="radio" name="tab" id="tab-6">
        <label for="tab-6">
          <span>Accordion Heading Four</span>
          <div class="icon"><i class="fa fa-plus"></i></div>
        </label>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit. Quam, repellendus facere, id porro magnam blanditiiss quoteos dolores ratione quidem ipsam esse quos pariatur, repellat obcaecati!</p>
        </div>
      </div>
    </div>


     <!-- coming soon start -->
     <section class="skills" id="skills">
      <div class="wrapperr">
          <div class="title">
            <img src="../images/2993672_brand_brands_google_logo_logos_icon.png" width="10%" alt=""> Our mobile application is <span>Coming soon</span>, follow us <br> for update now!
          </div>
      </div>
      <div class="Awrapperr wrapperr">
          <div class="icon facebook">
             <div class="tooltip">
                Facebook
             </div>
             <span><i class="fa fa-facebook-f"></i></span>
          </div>
          <div class="icon twitter">
             <div class="tooltip">
                Twitter
             </div>
             <span><i class="fa fa-twitter"></i></span>
          </div>
          <div class="icon instagram">
             <div class="tooltip">
                Instagram
             </div>
             <span><i class="fa fa-instagram"></i></span>
          </div>
          <div class="icon github">
             <div class="tooltip">
                Github
             </div>
             <span><i class="fa fa-github"></i></span>
          </div>
          <div class="icon youtube">
             <div class="tooltip">
                YouTube
             </div>
             <span><i class="fa fa-youtube"></i></span>
          </div>
       </div>
  </section>


    <!--Pop Up-->

  <div class="popup">
    <header>
      <span class="text"></span>
      <div class="close"><i class="fa fa-times"></i></div>
    </header>
    <div class="content">
      <div class="wrapperrrr">
        <div class="title-text">
           <div class="title login">
              Login Form
           </div>
           <div class="title signup">
              Signup Form
           </div>
        </div>
        <div class="form-container">
           <div class="slide-controls">
              <input type="radio" name="slide" id="login" checked>
              <input type="radio" name="slide" id="signup">
              <label for="login" class="slide login">Login</label>
              <label for="signup" class="slide signup">Signup</label>
              <div class="slider-tab"></div>
           </div>
           <div class="form-inner">
              <form action="" class="login">
                 <div class="field">
                    <input type="text" class="emailLogin"  placeholder="Email Address" required>
                 </div>
                 <div class="field">
                    <input type="password" class="passwordLogin" placeholder="Password" required>
                 </div>
                 <!-- <div class="pass-link">
                    <a href="#">Forgot password?</a>
                 </div> -->
                 <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" class="loginBtn" value="Login">
                 </div>
                 <div class="signup-link">
                    Not a member? <a href="">Signup now</a>
                 </div>
              </form>
              <form action=" " class="signup">
                 <div class="field">
                    <input type="text" class="email" placeholder="Email Address" required>
                 </div>
                 <div class="field">
                    <input type="password" class="password" placeholder="Password" required>
                 </div>
                 <div class="field">
                    <input type="password" class="Cpassword" placeholder="Confirm password" required>
                 </div>
                 <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" class="signupBtn" value="Signup">
                 </div>
              </form>
           </div>
        </div>
     </div>
    </div>
  </div>




  <!--PopUp modal-->
  
  <!-- <div class="show-btn">
    <button>Show Modal</button>
 </div> -->
 <div class="modal">
    <div class="top-content">
       <div class="left-text">
          Fill in your details
       </div>
       <span class="close-icon"><i class="fa fa-times"></i></span>
    </div>
    <div class="bottom-content">
       <!-- <div class="text">
          Custom Modal Box
       </div>
       <p>
          Create a simple modal box using html and css only.
       </p>
       <div class="close-btn">
          <button>Close Modal</button>
       </div> -->

       <div class="container">
        <div class="" style="text-align: center; font-size: 20px;">Rent now</div>
        <form action="/dashboard" method="POST">
           <div class="form-row">
              <div class="input-data">
                 <input name= "firstname" id="firstname" type="text" required>
                 <div class="underline"></div>
                 <label for="">First Name</label>
              </div>
              <div class="input-data">
                 <input name = "lastname" id="lastname" type="text" required>
                 <div class="underline"></div>
                 <label for="">Last Name</label>
              </div>
           </div>
           <div class="form-row">
              <div class="input-data">
                 <input name = "email" id="email" type="text" required>
                 <div class="underline"></div>
                 <label for="">Email Address</label>
              </div>
              <div class="input-data">
                 <input name= "phonenumber" id="phone" type="number" required>
                 <div class="underline"></div>
                 <label for="">Phone Number</label>
              </div>
           </div>
           <div class="form-row">
              <div class="input-data">
                <input name="city" id="city" type="text" required>
                <div class="underline"></div>
                <label for="">City</label>
              </div>
              <div class="input-data">
                <input name= "pickupLocation" id="location" type="text" required>
                <div class="underline"></div>
                <label for="">Pickup Location</label>
              </div>
           </div>

           <div class="close-btn">
            <button>Submit</button>
          </div> 
        </form>
     </div>
    </div>
 </div>
 <script>
    $('.show-btn').click(function(){
      $('.modal').toggleClass("show");
      $('.show-btn').addClass("disabled");
    });
    $('.close-icon').click(function(){
      $('.modal').toggleClass("show");
      $('.show-btn').removeClass("disabled");
    });
    $('.close-btn').click(function(){
      $('.modal').toggleClass("show");
      $('.show-btn').removeClass("disabled");
    });
 </script>


<!--FOOTER-->
    <footer>
      <span>Created By <a>PickUp</a> | <span class="far fa-copyright"></span> 2020 All rights reserved.</span>
  </footer>
  <script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (()=>{
      loginForm.style.marginLeft = "-50%";
      loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (()=>{
      loginForm.style.marginLeft = "0%";
      loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (()=>{
      signupBtn.click();
      return false;
    });
 </script>
   <script src="../js/script.js"></script>
 <script src="../js/wow.min.js"></script>
 <script>
 new WOW().init();
 </script>

  </body>
</html>


