
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section{
  padding: 50px 0;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
  font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}
section .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #0A2558;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: #0A2558;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span{
  color: #0A2558;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: #fff;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color: #0A2558;
}
.navbar.sticky .menu li a:hover{
  color: #fff;
}

/* menu btn styling */
.menu-btn{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: #0A2558;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}


/* home section styling */
.home{
  display: flex;
  background: url("../images/obi-onyeador-JIcR3-O8ko8-unsplash.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
width: 100%;
display: flex;
}
.home .max-width .row{
margin-right: 0;
}
.home .home-content .text-1{
  font-size: 27px;
  color: #0A2558;
  font-weight: bold;
}
.home .home-content .text-2{
  font-size: 75px;
  font-weight: bold;
  margin-left: -3px;
  color: #0A2558;
}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;;
}
.home .home-content .text-3 span{
  color: #0A2558;
  font-weight: 500;
}
.home .home-content a{
  display: inline-block;
  background: #0A2558;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #0A2558;
  transition: all 0.3s ease;
}
.home .home-content a:hover{
  color: #0A2558;
  background: none;
}



/*INPUT*/
.search_form{
  background-color: 	#0A2558;
  padding: 12px;
}
.search_form input
/*VEHICLE LISTING*/
.listing{
  padding: 20px;
}
.Lising_block{
  background-color: #F4F6F8;
  /* padding: 10px; */
  margin: 0;
}

.Lising_block p{
  margin: 0;
  padding: 5px;
}

#btnnn{
  background-color: #ffff;
  color: black;
}

#btnnn:hover{
  background-color: #5050D9;
  color: white;
}

.btnn{
  background-color: #0A2558;
  color: white;
  border: none;
  width: 50%;
  padding: 10px 20px;
  margin-top: 20px;
  /* margin-bottom: 25px; */
  font-weight: normal;
  font-size: 17px;
  /* border-radius: 5px; */
}

/* services section styling */
.services, .teams{
  color:#000;
  background: #0A2558;
}
.services .title{
  color: white;
}

.services .title::before,
.teams .title::before{
  background: #fff;
}
/* .services .title::after,
.teams .title::after{
  background: #fff;
  content: "what we provide";
} */
.services .serv-content .card{
  width: calc(33% - 20px);
  background: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover{
  background: #fff;
}
.services .serv-content .card .box{
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
  transform: scale(1.05);
}
.services .serv-content .card i{
  font-size: 50px;
  color: #0A2558;
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
  color: #222;
}
.services .serv-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}




/*FREQUENTLY ASKED QUESTION*/
::selection{
  background: #0A2558
}
.wrapper{
  max-width: 600px;
  padding: 0 20px;
}
.wrapper .parent-tab,
.wrapper .child-tab{
  margin-bottom: 8px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 15px rgba(0,0,0,0.18); */
}
.wrapper .parent-tab label,
.wrapper .child-tab label{
  background: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.wrapper .parent-tab label:hover{
  background: #0A2558;
}

.wrapper .parent-tab span:hover{
  color: #fff;
}


.parent-tab input:checked ~ label,
.child-tab input:checked ~ label{
  border-radius: 3px 3px 0 0;
  background: #fff;
}
.wrapper label span{
  color: #0A2558;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 -1px 1px #0A2558;
}
.wrapper .child-tab label span{
  font-size: 17px;
}
.parent-tab label .icon{
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #0A2558;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-shadow: 0 -1px 1px #0A2558;
}
.wrapper .child-tab label .icon{
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before{
  content: '\f068';
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
  max-height: 100vh;
}
.tab-3 input:checked ~ .content{
  padding: 15px 20px;
}
.parent-tab .content p,
.child-tab .sub-content p{
  padding: 15px 20px;
  font-size: 16px;
}
.child-tab .sub-content p{
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}

/* footer section styling */
footer{
  background: #0A2558;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a{
  color: #fff;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}


/*NAV MEDIA QUERIES*/
/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}
@media (max-width: 947px){
  .menu-btn{
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .services .serv-content .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text-2{
      font-size: 60px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
  .services .serv-content .card{
      width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2{
      font-size: 50px;
  }
  .home .home-content .text-3{
      font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text{
      font-size: 19px;
  }
  .contact .right form .fields{
      flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
      margin: 0;
  }
  .right form .error-box{
     width: 150px;
  }
  .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
  }
}